body{
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    background-color: black;
}
.contanier{
    position: absolute;
    left: 40%;
    top: 20%;
    margin: 0;
    font-size: 60px;
    /* transform: translate(-50% , -50%); */
    border: 2px solid red;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 12px ;
    background-color: rgb(136, 182, 221);
}
button{
    width: 50px;
    height: 30px;
    font-family: unset;
    font-weight: bold;
    font-size: medium;
    border-radius: 13px;
}
#add{
    padding-bottom:130px;
    padding-top:100px;
    position: absolute;
    left: 270px;
    bottom: 75px;
    font-size: 50px;
    justify-content: center;
}
#display{
    background-color:white;
    /* transform: translate(-50% , -50%);
    position: absolute;
    left: 28%;
    bottom: 350px; */
    /* width: 100px; */
    border: 2px solid red;
    padding-top: 50px;
    font-size: 21px;
    border-radius: 10px;
    
}
.row1{
    margin: 0;
}
#add:hover{
    background-color: rgb(171, 246, 117);
}
button:hover{
    color: cornflowerblue;
    background-color:chartreuse;
}
